.navbar {
  background: none;
}

.topper{
  min-height: 100vh;
  background: linear-gradient(to left bottom, #8e02dc 50%, white 50%);
  display: flex;
  flex-direction: row;
}

/* iframe{
  width: 400px;
  height: 350px;
} */

.middle{
  min-height: 80vh;
  display: flex;
  background-color: #fdbe15;
  flex-direction: row;
}
.bottom{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}
.middle-ext{
  min-height: 20vh;
  background-color: white;
  display: flex;
}

.order-class{
  display: flex;
}

.videosnip{
justify-content: center;
position: relative;
width: auto;
height: auto;
}

.main-text{
  float: left;
  margin: auto;
}

.nav-items{
  cursor: pointer;
}

.card-img-top{
  margin-top: 15vh;
  border-radius: 50%;
  background: transparent;
}

.middle-cards{
  background: transparent;
  border: none;
  position: relative;
  margin-bottom: -60px;
}

.card-body{
  background-color: #9e09f2;
  margin-top: 2vh;
}

.overflow-buttons{
  position: absolute;
  
  margin-bottom: -15vh;
  background-color: #ff0994;
  margin-left: 4vw;
}
.bot-vid{
  margin-top: 5vh;
justify-content: center;
margin-left: 0px;
}
.logo-area{
  min-height: 15vh;
  background-color: #9108de;
  /* align-content: center; */
  /* position: absolute; */
  /* min-width: 99vw; */
  width: 100%;

}

.bot-logo{
  position: relative;
  left: 45%;
}

footer{
  min-height: 12vh;
  background-color: #292929;
    /* position: absolute; */
  bottom: 0;
  /* width: 100%; */
}


